.toolbar {
    display: flex;
    justify-content: space-between;
}

.options-wrapper {
    width: 35vw;
    margin-left: 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}